.landing-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    min-height: 100vh;
    .form-center {
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 3rem;
        border-radius: 2rem;
        background-color: #fff;
        p{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: .9rem;
            font-weight: 500;
        }
        .form-group {
            margin: 10px;
        }
        label {
            display: block;
            font-weight: bold;
        }
        input {
            width: 18rem;
            padding: .7rem;
            border: 1px solid #2196f3;
            color: #2196f3;
            outline-style: none;
            border-radius: .5rem;
            box-shadow: 0px 2px 4px rgba(#2196f3, 0.2);
        }
        button {
            width: 10rem;
            padding: .5rem;
            border: none;
            border-radius: 1rem;
            background-color: #2196f3;
            color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: bold;
            font-size: 1.5rem;
            box-shadow: 0px 2px 4px rgba(#2196f3, 0.2);
        }
    }

}
/* Add media queries for responsiveness */
@media screen and (max-width: 912px) {
    .landing-page {
        /* Reduce the height of the form container */
        .form-center {
            height: 50vh;
            width: 60vw;
        }
    }
}
@media screen and (max-width: 768px) {
    .landing-page {
        /* Reduce the height of the form container */
        .form-center {
            height: 50vh;
            width: 60vw;
        }
    }
}

@media screen and (max-width: 480px) {
    .landing-page {
        /* Adjust the width and padding of the input elements */
        .form-center {
            width: 60vw;
            input {
                width: 15rem; 
                padding: .5rem; 
            }
        }
    }
}